SQLALCHEMY_DATABASE_URI = 'sqlite:///database.db'
SQLALCHEMY_TRACK_MODIFICATIONS = False
SQLALCHEMY_ECHO = False
FLASK_DEBUG=False
WTF_CSRF_SECRET_KEY=$DEFINE-YOUR-OWN-KEY$
SECRET_KEY=$DEFINE-YOUR-OWN-KEY$