alembic==1.18.4
attrs==26.1.0
blinker==1.9.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
execnet==2.1.2
Faker==40.13.0
flake8==7.3.0
Flask==3.1.3
Flask-Login==0.6.3
flask-marshmallow==1.4.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.4.0
h11==0.16.0
idna==3.11
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
mccabe==0.7.0
outcome==1.3.0.post0
packaging==26.0
pluggy==1.6.0
pycodestyle==2.14.0
pycparser==3.0
pyflakes==3.4.0
Pygments==2.20.0
PySocks==1.7.1
pytest==9.0.3
pytest-flask==1.3.0
pytest-xdist==3.8.0
python-dotenv==1.2.2
requests==2.33.1
selenium==4.43.0
sniffio==1.3.1
sortedcontainers==2.4.0
SQLAlchemy==2.0.49
sqlalchemy-fake-model==0.1.1
trio==0.33.0
trio-websocket==0.12.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
webdriver-manager==4.0.2
websocket-client==1.9.0
Werkzeug==3.1.8
wsproto==1.3.2
WTForms==3.2.1
WTForms-SQLAlchemy==0.4.2
