{% extends 'pages/base.page.html' %}
{% block main %}
<div id="request-data" data-request-id="{{ request.id }}"></div>
<div class="page-header">
    <a class="page-back" href="/requests"><i class="bi bi-arrow-left"></i> Back
    </a>
    <div class="page-headline d-flex justify-content-between flex-wrap gap-3">
        <div class="flex-fill">
            <div class="page-title">
                {{ request.title }}
            </div>
            <div class="d-flex gap-4 align-items-center page-subtitle flex-wrap">
                <div><i class="bi bi-person me-2"></i>{{ request.owner.name}}</div>
                <div><i class="bi bi-geo-alt me-2"></i>{{ request.owner.address}}</div>
                <div><i class="bi bi-calendar3 me-2"></i>Posted {{ request.created_at.strftime('%d/%m/%Y')  }}</div>
                <div class="request-status status-{{ request.status.value|lower }}">{{ request.status.value }}</div>
            </div>
        </div>
        <div>
            <button id="btn-edit-request" class="app-btn btn-secondary"><i class="bi bi-pencil me-2"></i>Edit</button>
            <button class="app-btn btn-success"><i class="bi bi-check2-circle me-2"></i>Complete</button>
            <button class="app-btn btn-danger"><i class="bi bi-x-circle me-2"></i>Cancel</button>
            <button class="app-btn btn-accent btn-offer"><i class="bi bi-send me-2"></i>Make an offer</button>
        </div>
    </div>
</div>
<div class="page-body d-lg-flex gap-4">
    <div class="flex-fill">
        <div class="page-item">
            <div class="item-header">
                Request Details
            </div>
            <div class="item-body">
                {{ request.description }}
            </div>
        </div>
        <div class="page-item">
            <div class="item-header">
                What I'm Offering in Exchange
            </div>
            <div class="item-body">
                <div id="offering-skills" class="d-flex gap-2 flex-wrap">
                    <div class="skill-chip">
                        {{ request.owner_skill.skill.name}}
                    </div>
                </div>
                <div class="mt-3">
                    {{ request.message }}
                </div>
            </div>
        </div>
        <div class="page-item">
            <div class="item-header">
                Offers Received <span class="text-muted">({{ request.offers | length }})</span>
            </div>
            <div class="item-body">
                <div class="offer-item">
                    <div id="offers" class="d-flex flex-column gap-3"></div>
                    {% for offer in request.offers %}
                        {% include 'components/offer.component.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="page-right">
        <div class="page-item">
            <div class="item-header">
                About {{ request.owner.name }}
            </div>
            <div class="item-body">
                <div class="d-flex gap-3 align-items-center profile-info">
                    <div class="mini-avatar avatar-48">{{request.owner.name | get_initials}}</div>
                    <div class="flex-fill">
                        <div class="profile-user">{{request.owner.name}}</div>
                        <div class="profile-address">{{request.owner.address}}</div>
                    </div>
                </div>
                <div class="mt-2 profil-bio">
                    {{request.owner.bio}}
                </div>
            </div>
        </div>
        <div class="page-item">
            <div class="item-header">
                Session Preferences
            </div>
            <div class="item-body">
                <div><i class="bi bi-camera-video me-2"></i>{{request.format.value}}</div>
                <div><i class="bi bi-clock me-2"></i>{{request.duration}}</div>
                <div><i class="bi bi-calendar me-2"></i>{{request.availability}}</div>
            </div>
        </div>
        <div>
            <button class="app-btn btn-accent w-100 mb-2 btn-offer"><i class="bi bi-send me-2"></i>Make an offer</button>
        </div>
    </div>
</div>
{% endblock %}