<div id="confirmation-modal" class="modal fade confirmation-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div>
                <div class="modal-title h5 mb-1"><i class="modal-title-icon bi bi-check-circle-fill"></i>Confirmation</div>
            </div>
            <div class="mb-3">
                {{ message }}
            </div>

            <div class="d-flex justify-content-end gap-2">
                <button id="btn-cancel"type="button" class="app-btn btn-outline-ink" data-bs-dismiss="modal">Cancel</button>
                <button id="btn-ok" type="button" class="app-btn btn-accent">OK</button>
            </div>
        </div>
    </div>