<link rel="stylesheet" href="src/pages/request.page.css">
<div class="page-header">
    <div class="page-back"><i class="bi bi-arrow-left"></i> Back</div>
    <div class="page-headline d-flex justify-content-between flex-wrap gap-3">
        <div class="flex-fill">
            <div class="page-title"><span app-data-value="request.name">Learn React & Next.js from scratch</span></div>
            <div class="d-flex gap-4 align-items-center page-subtitle flex-wrap">
                <div><i class="bi bi-person me-2"></i><span app-data-value="request.owner.name"></span></div>
                <div><i class="bi bi-geo-alt me-2"></i><span app-data-value="request.owner.address">Melbourne, AU</span></div>
                <div><i class="bi bi-calendar3 me-2"></i>Posted <span app-data-value="request.createdAtAsTime">March 20, 2026</span></div>
                <div class="request-status"><span app-data-value="request.status"></span></div>
            </div>
        </div>
        <div>
            <button id="btn-edit-request" class="app-btn btn-secondary"><i class="bi bi-pencil me-2"></i>Edit</button>
            <button class="app-btn btn-success"><i class="bi bi-check2-circle me-2"></i>Complete</button>
            <button class="app-btn btn-danger"><i class="bi bi-x-circle me-2"></i>Cancel</button>
            <button class="app-btn btn-accent"><i class="bi bi-send me-2"></i>Make an offer</button>
        </div>
    </div>
</div>
<div class="page-body d-lg-flex gap-4">
    <div class="flex-fill">
        <div class="page-item">
            <div class="item-header">
                Request Details
            </div>
            <div class="item-body">
                <span app-data-value="request.description">Description</span>
            </div>
        </div>
        <div class="page-item">
            <div class="item-header">
                What I'm Offering in Exchange
            </div>
            <div class="item-body">
                <div id="offering-skills" class="d-flex gap-2 flex-wrap">
                </div>
                <div class="mt-3"><span app-data-value="request.offering.message"></span></div>
            </div>
        </div>
        <div class="page-item">
            <div class="item-header">
                Offers Received <span class="text-muted">(<span app-data-value="request.offers.length"></span>)</span>
            </div>
            <div class="item-body">
                <div class="offer-item">
                    <div id="offers" class="d-flex flex-column gap-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-right">
        <div class="page-item">
            <div class="item-header">
                About <span app-data-value="request.owner.name"></span>
            </div>
            <div class="item-body">
                <div class="d-flex gap-3 align-items-center profile-info">
                    <div class="mini-avatar avatar-48"><span app-data-value="request.owner.initial"></span></div>
                    <div class="flex-fill">
                        <div class="profile-user"><span app-data-value="request.owner.name"></span></div>
                        <div class="profile-address"><span app-data-value="request.owner.address">Melbourne, AU</span></div>
                    </div>
                </div>
                <div class="mt-2 profil-bio">
                    <span app-data-value="request.owner.bio"></span>
                </div>
            </div>
        </div>
        <div class="page-item">
            <div class="item-header">
                Session Preferences
            </div>
            <div class="item-body">
                <div><i class="bi bi-camera-video me-2"></i><span app-data-value="request.format"></span></div>
                <div><i class="bi bi-clock me-2"></i><span app-data-value="request.duration"></span></div>
                <div><i class="bi bi-calendar me-2"></i><span app-data-value="request.availability"></span></div>
            </div>
        </div>
        <div>
            <button class="app-btn btn-accent w-100 mb-2"><i class="bi bi-send me-2"></i>Make an offer</button>
        </div>
    </div>
</div>