This is footer component.
<br>
Task: Implement footer with following points:
<ul>
    <li>Show Student Information</li>
</ul>
<div>
    Notes for developers To be clear after done:
    <div class="btn-group" role="group">
        <a href="#dashboard" class="btn btn-secondary">Dashboard</a>
        <a href="#home" class="btn btn-secondary">Home</a>
        <a href="#login" class="btn btn-secondary">Login</a>
        <a href="#profile" class="btn btn-secondary">Profile</a>
        <a href="#request" class="btn btn-secondary">Request</a>
        <a href="#requests" class="btn btn-secondary">Requests</a>
        <a href="#dev" class="btn btn-secondary">Dev</a>
    </div>
</div>