<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#home">Skill<span class="text-accent2">Swap</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ms-auto">
                <div id="header-login-group" class="navbar-nav gap-2">
                    <a href="#login" class="app-btn btn-outline">Login</a>
                    <a href="#register" class="app-btn btn-accent">Sign up</a>
                </div>
                <div id="header-logout-group" class="d-flex align-items-center">
                    <div class="d-flex align-items-center gap-2">
                        <a class="nav-link nav-link-dashboard" href="#dashboard">Dashboard</a>
                        <a class="nav-link nav-link-requests" href="#requests">Search Requests</a>
                        <a class="nav-link nav-link-profile" href="#profile">My profile</a>
                    </div>
                    <div class="horizontal-divider"></div>
                    <a id="logout-btn" class="app-btn btn-outline" href="javascript:void(0)" class="nav-link">Logout</a>
                </div>
            </div>
        </div>
    </div>
</nav>