<nav class="navbar navbar-expand-md">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('public.index') }}">Skill<span class="text-accent2">Swap</span></a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
        </button>
        <div id="navbarContent" class="collapse navbar-collapse justify-content-end">
            <div class="d-flex flex-column flex-md-row align-items-end align-items-md-center justify-content-end mt-2 mt-md-0 gap-2 text-center">
                {% if current_user.is_authenticated %}
                <a class="nav-link nav-link-dashboard {{'active' if main_class=='dashboard' else ''}}" href="{{ url_for('private.dashboard') }}">Dashboard</a>
                <a class="nav-link nav-link-requests {{'active' if main_class=='requests' else ''}}" href="{{ url_for('private.requests_views.get_requests') }}">Search Requests</a>
                <a class="nav-link nav-link-profile {{'active' if main_class=='profile' else ''}}" href="{{ url_for('private.profile') }}">My profile</a>
                <a id="logout-btn" class="app-btn btn-outline" href="{{ url_for('private.logout') }}" class="nav-link">Logout</a>
                {% else %}
                <a href="{{ url_for('public.login') }}" class="app-btn btn-outline">Login</a>
                <a href="{{ url_for('public.register') }}" class="app-btn btn-accent">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>